window {
  border: 1px solid #555555;
  border-top-color: #333333;
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #222222;
  box-shadow: none

  & .titlebar {
    background-color: #222222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
